/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.03.2019., 12:44:30
    Author     : programer10
*/

body {
    font-family: 'Segoe UI';
}

div.product{
    width:25%;
    min-width: 25%;
    float:left;
    margin:10px;
    padding:10px;
    border:1px solid #ccc;
}